*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.box{

	width: 550px;
	height: 20px;
	margin: auto;
	margin-top: 150px;
/* 	border: 2px solid; */
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;

}

.line{
	width: 100%;
	height: 2px;
	background: red;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}
.box p{
	background: #fff;
	z-index: 1;
	padding: 0px 5px;
}


